body{
    background-color: rgb(42, 40, 40);
    color: white;
}
.form-div{
    background-color:blueviolet;
    width: 50%;
    margin: auto;
    padding: 25px;
}
.btn{
    background-color: black;
    border-color: aliceblue;
    color: aliceblue;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}
.btn:hover{
    color: black;
    background-color: aliceblue;
    border-color: black;
}
.formTitle{
    color: black;
    font-weight: 700;
}
label{
    color: black;
}

